@import "mocha.css";

* {
    font-family: 'Meslo LGS Nerd Font', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

#window {
    border-radius: 1rem;
    background-color: @surface0;
    color: @text;
    padding: 0 1rem;
}

#workspaces {
    border-radius: 1rem;
    background-color: @surface0;
    margin-left: 1rem;
    padding: 0 1rem;
}

#workspaces button {
    color: @lavendar;
    border-radius: 1rem;
    margin: 0.4rem 0;
    padding: 0 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#clock,
#battery,
#backlight,
#pulseaudio,
#tray,
#keyboard-state,
#custom-wlogout
{
    background-color: @surface0;
    padding: 0 1rem;
}

#clock {
    color: @blue;
    border-radius: 0 1rem 1rem 0;
    margin-right: 0.2rem;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @crust;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @crust;
}

#backlight {
    color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
    color: @maroon;
    border-radius: 1rem 0 0 1rem;
}

#tray {
    background: @overlay0;
    border-radius: 1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border: 0.2rem solid;
}

#tray > .passive {
   -gtk-icon-effect: dim;
}

#tray > .needs-attention {
   -gtk-icon-effect: highlight;
   background-color: @red;
}

#keyboard-state {
    color: @sky;
    border-radius: 1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

#keyboard-state label {
    color: @yellow;
}

#keyboard-state label.locked {
    color: @red;
}

#custom-wlogout {
    color: @peach;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 0.2rem;
}
